# Exploration of the Data

In [1]:
import pandas as pd
import numpy as np

In [2]:

cols = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 
        'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 
        'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-rate', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']
cars = pd.read_csv('imports-85.data', names=cols)
cars.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [3]:
#selecting columns with continuous values
numeric_features = ['normalized-losses', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-size', 'bore', 'stroke', 'compression-rate', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

In [4]:
cars_numeric = cars[numeric_features]
cars_numeric.head()

,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,?,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495
1,?,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500
2,?,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500
3,164,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950
4,164,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450

In [27]:
cars_numeric.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   normalized-losses  164 non-null    object
 1   wheel-base         201 non-null    float64
 2   length             201 non-null    float64
 3   width              201 non-null    float64
 4   height             201 non-null    float64
 5   curb-weight        201 non-null    int64
 6   engine-size        201 non-null    int64
 7   bore               197 non-null    object
 8   stroke             197 non-null    object
 9   compression-rate   201 non-null    float64
 10  horsepower         199 non-null    object
 11  peak-rpm           199 non-null    object
 12  city-mpg           201 non-null    int64
 13  highway-mpg        201 non-null    int64
 14  price              201 non-null    object
dtypes: float64(5), int64(4), object(6)
memory usage: 25.1+ KB

### Cleaning Data

In [29]:
cars_numeric = cars_numeric.replace('?', np.nan)
cars_numeric = cars_numeric.astype('float')

In [30]:
cars_numeric.isna().sum()

normalized-losses    37
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-size           0
bore                  4
stroke                4
compression-rate      0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [22]:
#drop rows with missing values in price
#since price is the target column
cars_numeric = cars_numeric.dropna(subset=['price'])
cars_numeric.isna().sum()

normalized-losses    37
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-size           0
bore                  4
stroke                4
compression-rate      0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [31]:
#fill missing values with mean of the column
cars_numeric = cars_numeric.fillna(cars_numeric.mean())

,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,122.0,88.6,168.8,64.1,48.8,2548.0,130.0,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,13495.0
1,122.0,88.6,168.8,64.1,48.8,2548.0,130.0,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,16500.0
2,122.0,94.5,171.2,65.5,52.4,2823.0,152.0,2.68,3.47,9.0,154.0,5000.0,19.0,26.0,16500.0
3,164.0,99.8,176.6,66.2,54.3,2337.0,109.0,3.19,3.40,10.0,102.0,5500.0,24.0,30.0,13950.0
4,164.0,99.4,176.6,66.4,54.3,2824.0,136.0,3.19,3.40,8.0,115.0,5500.0,18.0,22.0,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95.0,109.1,188.8,68.9,55.5,2952.0,141.0,3.78,3.15,9.5,114.0,5400.0,23.0,28.0,16845.0
201,95.0,109.1,188.8,68.8,55.5,3049.0,141.0,3.78,3.15,8.7,160.0,5300.0,19.0,25.0,19045.0
202,95.0,109.1,188.8,68.9,55.5,3012.0,173.0,3.58,2.87,8.8,134.0,5500.0,18.0,23.0,21485.0
203,95.0,109.1,188.8,68.9,55.5,3217.0,145.0,3.01,3.40,23.0,106.0,4800.0,26.0,27.0,22470.0
204,95.0,109.1,188.8,68.9,55.5,3062.0,141.0,3.78,3.15,9.5,114.0,5400.0,19.0,25.0,22625.0

In [32]:
#confirm no missing values
cars_numeric.isnull().sum()

normalized-losses    0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-size          0
bore                 0
stroke               0
compression-rate     0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [33]:
#normalizing values between 0 and 1, except price
price_cols = cars_numeric['price']
cars_numeric = (cars_numeric - cars_numeric.min()) / (cars_numeric.max() - cars_numeric.min())
cars_numeric['price'] = price_cols

In [34]:
cars_numeric

,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0.298429,0.058309,0.413433,0.324786,0.083333,0.411171,0.260377,0.664286,0.290476,0.12500,0.294393,0.346939,0.222222,0.289474,13495.0
1,0.298429,0.058309,0.413433,0.324786,0.083333,0.411171,0.260377,0.664286,0.290476,0.12500,0.294393,0.346939,0.222222,0.289474,16500.0
2,0.298429,0.230321,0.449254,0.444444,0.383333,0.517843,0.343396,0.100000,0.666667,0.12500,0.495327,0.346939,0.166667,0.263158,16500.0
3,0.518325,0.384840,0.529851,0.504274,0.541667,0.329325,0.181132,0.464286,0.633333,0.18750,0.252336,0.551020,0.305556,0.368421,13950.0
4,0.518325,0.373178,0.529851,0.521368,0.541667,0.518231,0.283019,0.464286,0.633333,0.06250,0.313084,0.551020,0.138889,0.157895,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0.157068,0.655977,0.711940,0.735043,0.641667,0.567882,0.301887,0.885714,0.514286,0.15625,0.308411,0.510204,0.277778,0.315789,16845.0
201,0.157068,0.655977,0.711940,0.726496,0.641667,0.605508,0.301887,0.885714,0.514286,0.10625,0.523364,0.469388,0.166667,0.236842,19045.0
202,0.157068,0.655977,0.711940,0.735043,0.641667,0.591156,0.422642,0.742857,0.380952,0.11250,0.401869,0.551020,0.138889,0.184211,21485.0
203,0.157068,0.655977,0.711940,0.735043,0.641667,0.670675,0.316981,0.335714,0.633333,1.00000,0.271028,0.265306,0.361111,0.289474,22470.0
204,0.157068,0.655977,0.711940,0.735043,0.641667,0.610551,0.301887,0.885714,0.514286,0.15625,0.308411,0.510204,0.166667,0.236842,22625.0

## Univarate Model

In [48]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

def knn_train_test(df, train_col, target_col):
    knn = KNeighborsRegressor()
    np.random.seed(0)

    #randomize the rows of dataframe
    shuffled_index = np.random.permutation(df.index)
    df_rand = df.reindex(shuffled_index)

    #split into test and train (70/30)
    split_point = int(len(df_rand) * 0.7)
    train = df_rand.iloc[0:split_point]
    test = df_rand.iloc[split_point:]

    #train model and predict
    knn.fit(train[[train_col]], train[target_col])
    predicted_val = knn.predict(test[[train_col]])

    #metric RMSE value
    rmse = np.sqrt(mean_squared_error(test[target_col], predicted_val))

    return rmse

In [56]:
#using model on all columns except price
rmse_vals = {}
features = list(cars_numeric.columns)
features.remove('price')
for feature in features:
    rmse = knn_train_test(cars_numeric, feature, 'price')
    rmse_vals[feature] = rmse

#best performing column
#convert the dictionary to series to easily sort the values
rmse_series = pd.Series(rmse_vals)
rmse_series.sort_values()

curb-weight          3048.874619
width                3281.120271
engine-size          3387.703742
highway-mpg          3548.638118
length               3758.935827
horsepower           4288.885945
city-mpg             4423.368805
bore                 4793.642525
normalized-losses    5706.657106
height               5943.931512
compression-rate     5944.578441
wheel-base           6222.962458
stroke               6563.408786
peak-rpm             7092.242774
dtype: float64

In [ ]:
#modified train_test function to vary values of k
def knn_train_test(df, train_col, target_col):
    np.random.seed(0)

    #randomize the rows of dataframe
    shuffled_index = np.random.permutation(df.index)
    df_rand = df.reindex(shuffled_index)

    #split into train and test (70/30)
    split_point = int(len(df_rand) * 0.7)
    train = df_rand.iloc[0:split_point]
    test = df_rand.iloc[split_point:]

    k_values = [1,3,5,7,9]
    k_rmses = {}

    for k in k_values:
         knn = KNeighborsRegressor(n_neighbors=k)